[[source]]
url = "https://gitlab-pe.gwdg.de/api/v4/projects/26166/packages/pypi/simple"
verify_ssl = true
name = "abcd"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
abcd-converter = "==0.0.4"
pyside6 = "*"
pre-commit = "*"
pyinstaller = "*"
